# FreeRTOS Tick Rate
CONFIG_FREERTOS_HZ=1000

# setup()/loop() laufen in app_main -> großer Stack nötig
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384

# SPI Flash (16 MB & QIO Modus)
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE="qio"

# Octal PSRAM / SPI RAM Support (8 MB)
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y

# Konsole auf UART0 (zur Diagnose des Boot-Loops)
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y

# mbedTLS PSK-Optionen (behebt Compiler-Warnung)
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y